*.seed
*.log
*.dat
*.out
*.pid
*.gz

.DS_Store
.tmp
node_modules

npm-debug.log

public/build
public/build.html
public/build_css.html
public/build_js.html
public/bower_components
/bower_components

*.pem
*.pub
.idea/
